<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}FORMA - Iglesia de La Alameda{% endblock %}</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="format-detection" content="telephone=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="author" content="">
    <meta name="keywords" content="">
    <meta name="description" content="">

    <!-- script
    ================================================== -->

    {% block stylesheets %}
            {{ vite_entry_link_tags('app') }}
{#        {{ encore_entry_link_tags('app') }}#}
{#        <link rel="stylesheet" type="text/css" href="{{ asset('css/bootstrap.min.css') }}">#}
{#        <link rel="stylesheet" type="text/css" href="{{ asset('css/style.css') }}">#}
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.css"/>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Jost:wght@300;400;500&family=Lato:wght@300;400;700&display=swap"
              rel="stylesheet">
    {% endblock %}


</head>
<body data-bs-spy="scroll" data-bs-target="#navbar" data-bs-root-margin="0px 0px -40%" data-bs-smooth-scroll="true" tabindex="0">
{% block header %}
    {{ include('_bases/_nav.html.twig') }}
{% endblock %}

{% block body %}
    <div {{ vue_component('Hello', { 'name': 'Ger' }) }}></div>
    <div id="app">
    </div>

{% endblock %}

{% block javascripts %}
{#            {% block importmap %}{{ importmap('app') }}{% endblock %}#}
    {{ vite_entry_script_tags('app') }}

    {# if you are using React, you have to replace with this #}
    {{ vite_entry_script_tags('app', { dependency: 'vue' }) }}
{#    {{ encore_entry_script_tags('app') }}#}
    {#        #}
    <script src="{{ asset('js/modernizr.js') }}"></script>
{% endblock %}
</body>
</html>
